.auth-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 150px;
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #0056b3;
}

.auth-container p {
  text-align: center;
  cursor: pointer;
  color: #007bff;
}

.auth-container p:hover {
  text-decoration: underline;
}
